<div class="container">
  <div class="page-header">
    <h1>How To Mine</h1>
<strong>stratum</strong>
<p>
octa.redecoin.eu:9393 -u 0x7759ccb594f6ae83c2bd9d42e2de9267e1075ca3 -p x
</p>
<strong>nicehash</strong>
<p>
octa.redecoin.eu:9494 -u 0x7759ccb594f6ae83c2bd9d42e2de9267e1075ca3 -p #
</p>
  </div>
</div>
<div class="container">
<div class="page-header">

<div class="row">
<div class="col-md-12">
<div class="Wallent">

  <div class="stats-box">
    <h3>GPU Miner Softwares</h3>

    <p>Download one of the following GPU miners.
    <ul>
      <li>Claymore Dual Miner (AMD/NVIDIA) <a href="https://bitcointalk.org/index.php?topic=1433925.0">[ANN] Bitcointalk.org</a></li>
      <li>Ethminer (AMD/NVIDIA) <a href="https://github.com/ethereum-mining/ethminer/releasesi/latest">Ethminer source/binary at Github</a></li>
      <li>NBMiner <a href="https://github.com/NebuTech/NBMiner/releases">binary files</a></li>
      <li>T-Rex <a href="https://github.com/trexminer/T-Rex/releases">binary files</a></li>
      <li>phoenixminer <a href="https://phoenixminer.info/downloads/">binary files</a></li>
      <li>teamredminer <a href="https://github.com/todxx/teamredminer/releases">binary files</a></li>
      <li>GMiner <a href="https://github.com/develsoftware/GMinerRelease/releases">binary files</a></li>
      <li>lolMiner <a href="https://github.com/Lolliedieb/lolMiner-releases/releases">binary files</a></li>
<div>
  <h4>Advice</h4>
  <p>CPU mining is not recommended.</p>
  <h4>Terms of Service</h4>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>
</div>
</ul>
</p>
</div>

<h3>Wallent</h3>
<li>Wallent <a href="https://octa.space/docs/cryptocurrency/metamask/" target="_blank">https://octa.space/docs/cryptocurrency/metamask/</a></li>

</div>
</div>
</div>
</div>
</div>

